//Tamanho maximo da tela
$max-width-container : 1164px;
//Cor da fonte principal do site
$font-color-dark : #333;
//Cor da fonte principal do site
$font-color-medium : #666;
//Cor da fonte principal do site
$font-color-light : #999;
//Cor da fonte do preco
$font-color-featured : #ee6442;
//botoes
$bt-font-color : #fff;
$bt-primary : #ee6442;
$bt-secundary : #58ce64;
$bt-padding : 15px;

//breakpoint
$tablet: 995px;
$mobile: 770px;


//mixin
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

a {
    color: $font-color-dark;
    text-decoration: none;
}

ul {
    padding: 0;
    li {
        display: block;
    }
}

.wrapper {
    font: 16px "Museo900";
    height: 100%;
    color: $font-color-dark;
}

.content {
    max-width: $max-width-container;
    margin: auto;
}

.left {float: left;}
.right {float: right;}
.none {display: none !important;}
.block {display: block !important;}
.row {margin: 0;}
.destaque {color: $font-color-featured;}
.fa-heart {color: $font-color-featured;}

.bt {
    width: 100%;
    padding: $bt-padding;
    @include border-radius(5px);
    color: $bt-font-color;
    text-align: center;
    text-transform: uppercase;
    &.bt-primary{background-color: $bt-primary;}
    &.bt-secundary{background-color: $bt-secundary;}
    a {color: #fff;}
}

