@font-face {
font-family: 'Museo100';
src: url("../assets/fonts/museo100.eot");
src: local("@"), url("../assets/fonts/museo100.woff") format("woff"), url("../assets/fonts/museo100.ttf") format("truetype"), url("../assets/fonts/museo100.svg") format("svg");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Museo300';
src: url("../assets/fonts/museo300.eot");
src: local("@"), url("../assets/fonts/museo300.woff") format("woff"), url("../assets/fonts/museo300.ttf") format("truetype"), url("../assets/fonts/museo300.svg") format("svg");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Museo500';
src: url("../assets/fonts/museo500.eot");
src: local("@"), url("../assets/fonts/museo500.woff") format("woff"), url("../assets/fonts/museo500.ttf") format("truetype"), url("../assets/fonts/museo500.svg") format("svg");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Museo700';
src: url("../assets/fonts/museo700.eot");
src: local("@"), url("../assets/fonts/museo700.woff") format("woff"), url("../assets/fonts/museo700.ttf") format("truetype"), url("../assets/fonts/museo700.svg") format("svg");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Museo900';
src: url("../assets/fonts/Museo900Regular.eot");
src: url("../assets/fonts/Museo900Regular.eot") format("embedded-opentype"), url("../assets/fonts/Museo900Regular.woff2") format("woff2"), url("../assets/fonts/Museo900Regular.woff") format("woff"), url("../assets/fonts/Museo900Regular.ttf") format("truetype"), url("../assets/fonts/Museo900Regular.svg#Museo900Regular") format("svg");
}
