    .img-footer {display: block;}
    .img-footer-mobile {display: none;}

    @media screen and (max-width: $mobile) {
        .img-footer {display: none;}
        .img-footer-mobile {display: block;}
    }

footer {
    .opcoes {
        padding: 40px 0;
        background-color: #f6f6f6;
        .mais-info {padding-left: 0;}
        .redes-sociais {
            font-size: 15px;
            margin-bottom: 30px;
            a {margin-right: 40px;}
        }
        .logo-footer {
            padding: 0;
        }
        .title {
            font-size: 10px;
            color: $font-color-light;
            text-transform: uppercase;
            margin-bottom: 25px;
            i {
                float: right;
                margin-right: 10px;
                color: #333;
                margin-top: -11px;
                display: none;
            }
        }
        .text {
            font-size: 12px;
            font-family: 'Museo700';
            line-height: 25px;
        }
        .info {
            margin-bottom: 10px;
            a {
                font-family: 'Museo900';
                font-size: 10px;
                color: $font-color-medium;
                text-transform: uppercase;
            }
        }
        .option-image {
            font-family: 'Museo500';
            font-size: 11px;
            color: $font-color-medium;
            margin-bottom: 20px;
            i {margin-right: 10px;}
        }
        
    }
    .rodape {
        padding: 10px 0;
        font-family: 'Museo500';
        font-size: 11px;
        color: $font-color-light;
        overflow: hidden;
        position: relative;
        a {text-decoration: underline;}
        .logo-footer-rodape {
            display: none;
        }
    }

    .img-footer {display: block;}
    .img-footer-mobile {display: none;}


    @media screen and (max-width: $tablet) {
        .atendimento, .minha-conta, .mais-info {padding: 0;}
        .accordion {display: none; padding-bottom: 10px;}
        .opcoes{
            padding: 20px 0;
            .title {
                cursor: pointer;
                i {display: block;}
            }
        }
        .face-box {
            display: none;
        }
        .copyright {
            width: 100%;
            text-align: right;
            padding: 0 0 10px 220px;
        }
        .logo-footer {
            display: none;
        }
        .rodape {
            .logo-footer-rodape {
                img {
                    width: 60px;
                    position: absolute;
                    bottom: 0;
                    left: 10px;
                }
                display: block;
            }
        }
    }

}
