.product {
    .box-info {
        background-color: #f5f5f5;
        position: relative;
        overflow: hidden;
    }
    padding: 5px;
    text-align: center;
    img {width: 100%;}
    .name-product {font: 20px "Museo700"; margin-top: 20px;}
    .model-product {font: 10px "Museo700";}
    .price-product {color: $font-color-featured; font-size: 16px; margin: 20px 0;}
    .add-cart {
        position: absolute;
        bottom: 20px;
        right: 15px;
    }
}


.ver-mais {
    border: 1px solid $font-color-medium;
    padding: 50px;
    margin: 30px auto;
    width: 125px;
    border-radius: 100%;
    height: 125px;
    position: relative;
    span {
        font: 11px "Museo900" ;
        color: $font-color-medium;
        text-transform: uppercase;
        position: absolute;
        top: 55px;
        left: 0px;
        width: 100%;
        text-align: center;
    }

}

@media screen and (max-width: $mobile) {
    .ver-mais {
        border: 1px solid #666;
        padding: 20px;
        margin: 30px 5%;
        width: 90%;
        border-radius: 0;
        height: auto;
        position: relative;
        overflow: hidden;
        text-align: center;

         span {
            font: 11px "Museo900";
            color: #666;
            text-transform: uppercase;
            position: relative;
            top: 0;
            left: 0px;
            width: 100%;
            text-align: center;
        }
    }
}



