$altura-header: 80px;
$altura-header-mobile: 60px;


header {
    height: $altura-header;
    font: 12px "Museo900";
    border-bottom: 1px solid #e6e6e6;
    .menu {
        cursor: pointer;
        text-transform: uppercase;
        padding: 33px 0;
        float: left;
        position: relative;
        .op-menu {
           position: absolute;
            top: 80px;
            left: 0;
            background-color: #fff;
            z-index: 10;
            border: 1px solid #e5e5e5;
            width: 240px;
            font-size: 14px;
            display: none;
            li {
                padding: 20px;
                &:hover {color: $font-color-featured;}
                .space {
                    border: 1px solid #e5e5e5;
                }
            }
        }
    }
    .search {
        @extend .menu;
        margin-left: 40px;
        form {
            display: none;
            top: -5px;
            position: relative;
            input[type="text"] {
                padding: 4px;
                width: 170px;
                border: 1px solid #e5e5e5;
            }
            button {
                position: relative;
                left: -3px;
                padding: 4px;
                border: 1px solid #e5e5e5;
                border-left: 0;
                background-color: #fff;
            }
        }
    }
    .logo {
        position: absolute;
        left: 50%;
        margin-left: -81px;
    }
    
    .options {
        margin: 30px 0;
        .icon{
            float: left;
            margin: 0 10px 0 40px;
        }
        .text {
            margin: 5px 0;
            float: left;
        }
    }
    @media screen and (max-width: $mobile) {
        font-size: 22px;
        height: $altura-header-mobile;
        .text {display: none;}
        .logo {
            margin-left: -60px;
            img{
                width: 120px;
            }
        }
        .menu, .search{
            padding: 15px 0;
            .op-menu {
                top: 60px;
                font-size: 12px;
            }
        }
        .options {
            margin: 20px 0;
            font-size: 11px;
        }
    }
    
}

