.newsletter {
    background-color: #f6f6f6;
    margin-bottom: 80px;
    .content > * {float: left;}
    .info {
        margin: 30px 0;
        .title {
            font: 22px "Museo700";
            margin-bottom: 0;
        }
        .text {
            font: 14px "Museo500";
        }
    }
    form {
        margin: 40px 0;
        input[type="text"] {
            padding: 5px;
            font: 14px "Museo900";
        }
        input[type="submit"] {
            font: 11px "Museo900";
            padding: 8px;
            background-color: #fff;
            border: 1px solid #ddd;
        }
    }

    @media screen and (max-width: $tablet) {
        .image {display: none;}
        form {margin: 0 0 30px;}
    }
    @media screen and (max-width: $mobile) {

    }
}
