.categorias {
    ul li {float: left;}
    .titulo {
        text-align: center;
        font: 50px "Museo900";
        padding: 50px 0;
        background-color: #f5f5f5;
        color: #302F29;
        .sub-titulo {
            font: 24px "Museo300";
        }
    }
    &.festas-infantis .titulo {background-color: $festas_infantis;}

    .opcoes {
        margin: 20px 0 50px;
        display: inline-block;
        width: 100%;
        .menu-subcategoria li{
            margin-right: 30px;
            cursor: pointer;
            &.selecionado, &:hover {color: $font-color-featured;};
        }
        .itens-encontrados {
            font: 10px "Museo700";
            padding: 5px 0;
        }
        .menu-subcategoria {margin: 0 150px;}
        .ordenacao li {
            padding: 10px;
            border: 1px solid #e6e6e6;
            margin-left: 10px;
            font-size: 10px;
            cursor: pointer;
        }
    }

    @media screen and (max-width: $tablet) {

    }
    @media screen and (max-width: $mobile) {
        .titulo {
            font-size: 26px;
            padding: 30px 0;
        }
        .opcoes {
            .menu-subcategoria {
                margin: 0 0 20px;
                width: 100%;
                li {
                    font-size: 14px;
                    margin-right: 20px;
                }
            }
            .ordenacao {
                float: none;
                position: relative;
                left: 50%;
                margin-left: -95px;
            }
        }

        .itens-encontrados {display: none;}
    }

}
