.slider {
    background-color: #f6f6f6;
    position: relative;
    padding: 10px;
    .info{
        padding: 100px 0;
        .title {
            font-size: 60px;
            font-family: "Museo900";
            margin-bottom: 40px;
        }
        .text {
            font-size: 24px;
            font-family: "Museo300";
            margin-bottom: 100px;
        }
        .bt {
            font-size: 14px;
            width: 140px;        
        }
    }
    img {width: 100%;}
    .thumb {
        position: absolute;
        left: 50%;
        bottom: -50px;
        margin-left: -30px;
    }

    @media screen and (max-width: $tablet) {
        .info {
            padding: 40px 0;
            .title {
                font-size: 26px;
                margin-bottom: 20px;
            }
            .text {
                font-size: 16px;
                margin-bottom: 30px;
            }
        }
        .image {
            height: auto;
        }
    }
    @media screen and (max-width: $mobile) {
        .info {
            text-align: center;
            .bt {
                font-size: 14px;
                width: 140px;
                left: 50%;
                position: relative;
                margin-left: -70px;
            }
        }
        .image {
            height: 130px;
            overflow: hidden;
        }
    }
}
