@import "compass/utilities/sprites";
@import "tema/*.png";
@include all-tema-sprites;


$casamentos: #FFC0CE;
$festas_infantis: #FFEE8E;
$encomendas: #A2EAFF;
$corporativo: #F9DFC6;

.temas {
    margin: 80px 0;
    .tema {
        img {width: 100%;}
        text-align: center;
        padding: 0;
        .title{font-size: 30px;}
        .text {font: 12px "Museo700";text-transform: uppercase;}
        i {display: none;}
        &.tema-casamentos {background-color: $casamentos;}
        &.tema-festas_infantis {background-color: $festas_infantis;}
        &.tema-encomendas {background-color: $encomendas;}
        &.tema-corporativo {background-color: $corporativo;}
    }
    @media screen and (max-width: $tablet) {
        .tema{
            img {width: 120px;}
            .title{font-size: 18px;}
            .text {font-size: 11px;}
            i {display: none;}
        }
    }
    @media screen and (max-width: $mobile) {
        .tema {
            text-align: left;
            .texts {
                margin-top: 5%;
            }
            i {
                position: absolute;
                right: 5%;
                top: 40%;
                display: block;
            }
        }
    }

}
